{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Asterios </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
        

      <!-- Divider -->
      <hr class="sidebar-divider">


      <li class="nav-item">
        <a class="nav-link" href="{% url 'conditions_vie' %}">
           <i class="fas fa-fw fa-table"></i>
          <span>Conditions de vie des étudiants</span></a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="{% url 'difficultes' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les difficultés des démarches</span></a>
      </li>

        <li class="nav-item">
         <a class="nav-link" href="{% url 'aides' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les aides disponibles en tant qu'étudiant</span></a>
      </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'aide_sociale' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Comment obtenir l'aide sociale ?</span></a>
      </li>

         <li class="nav-item">
             <a class="nav-link" href="{% url 'baisse_apl' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>La baisse des APL , un vrai impact ?</span></a>
      </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'precarite' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les personnes en situation de précarité</span></a>
      </li>







      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
<script>

      alert("Il ne faut pas quitter la page sinon il vous faudra recommencer du début");
			alert("Attention, tous les documents que vous déposerez sur ce site ainsi que le fichier récapitulatif de votre demande devront nous être envoyés par la poste");
			alert("Il faut être majeur, de nationalité française et avoir moins de 28 ans (sauf handicap)");
			alert("Si vous êtes un ressortissant de l'UE (Suisse comprise), il faut que vous ou vos parents ayez perçu des revenus ou occupé un emploi en France");
			alert("Si vous n'êtes pas un ressortissant de l'UE, vous êtes éligible si vous avez le statut de réfugié ou si vous pouvez prouver que vous résidez en France depuis au moins 2 ans");
			alert("Il nous faut un justificatif d'identité en cours de validité");
			prompt("Veuillez saisir votre nom", "Nom");
			prompt("Veuillez saisir votre prénom", "Prénom");
			prompt("Veuillez saisir votre âge");
			alert("Il nous faut le revenu de vos parents, et ce même si vous n'habitez pas ou plus chez eux");
			alert("Il faut un justificatif de domicile");
			alert("Vous devez fournir un certificat de scolarité ainsi que votre INE");
			prompt("Veuillez saisir votre INE");
			alert("Il faut que vous soyez en formation initiale, n'ayez pas redoublé et que vous fournissiez un justificatif d'assiduité");
			alert("L'obtention de votre bourse est soumise à la condition d'obtention de votre diplôme");
			alert("Si vous êtes inscrit à Pôle Emploi ou êtes en apprentissage vous n'êtes pas éligible");
			alert("Vous devez fournir un RIB pour que nous vous versions votre bourse");
			alert("N'oubliez pas de tout nous envoyer par la poste !");
			alert("Nous vous répondrons dans les meilleurs délais pour vous dire si vous êtes éligible à une bourse. Bonne journée et à bientôt !");
    </script>

      <div class="container-fluid">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Tu tentes d'obtenir une aide sociale</h1>
    </div>
      <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary"></h6>
            </div>
           <div class="card shadow mb-4">
		<p>C'est plutôt horrible non ? C'est plus ou moins la sensation que l'on peut avoir lorsqu'on tente de déposer un dossier afin d'obtenir une aide sociale. Des informations en vrac, venant de partout, exigeant de nous d'avoir toutes les composantes de notre situation en tête, et des demandes d'informations parfois ressenties comme particulièrement intrusives.</p>
               <p>Et vous, pensez-vous que vous pourriez répondre à toutes les questions demandées par les alertes ? </p> </div>
          <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Quelques conseils pour obtenir une aide sociale :</h6>
            </div>
           <div class="card shadow mb-4">
               <p>-	Préparer à l’avance des photocopies/scans de tous les documents officiels dont vous aurez besoin (carte d’identité, justificatif de domicile, …)</p>
               <p>-	Se renseigner sur Internet</p>
               <p>-	Trouvez des contacts directs avec qui dialoguer et échanger des différentes aides au sein de votre université</p>
               <p>- Se déplacer aux endroits indiqués (en regardant bien les horaires d’ouvertures, ne pas hésiter à appeler pour vérifier) pour faire les dossiers en direct avec de vraies personnes pour vous aider</p>
           </div>
  </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{%  static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{%  static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{%  static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{%  static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
