{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href={% static "css/sb-admin-2.min.css" %} rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Asterios </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
        

      <!-- Divider -->
      <hr class="sidebar-divider">


      <li class="nav-item">
        <a class="nav-link" href="{% url 'conditions_vie' %}">
           <i class="fas fa-fw fa-table"></i>
          <span>Conditions de vie des étudiants</span></a>
      </li>

      <li class="nav-item">
         <a class="nav-link" href="{% url 'difficultes' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les difficultés des démarches</span></a>
      </li>

        <li class="nav-item">
         <a class="nav-link" href="{% url 'aides' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les aides disponibles en tant qu'étudiant</span></a>
      </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'aide_sociale' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Comment obtenir l'aide sociale ?</span></a>
      </li>

         <li class="nav-item">
             <a class="nav-link" href="{% url 'baisse_apl' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>La baisse des APL , un vrai impact ?</span></a>
      </li>

         <li class="nav-item">
          <a class="nav-link" href="{% url 'precarite' %}">
          <i class="fas fa-fw fa-table"></i>
          <span>Les personnes en situation de précarité</span></a>
      </li>








      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

      <div class="container-fluid" >
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">La précarité étudiante </h1>
  </div>
      <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Quelques chiffres pour cela</h6>
            </div>
      <div class="card shadow mb-4">

        <p>
    Les conditions des étudiants précaires peuvent s'illustrer par quelques chiffres saisissant: <br>
    L'étudiant, y compris ceux qui ne sont pas nécessairement en situation de précarité, est connu pour avoir peu d'argent.
    En France en moyenne, il dispose d'un revenu de 590 euros par mois. Et malgrés le fait que 46% des étudiants ont une activitée remunérée à coé de leurs études,
    ils sont <strong>39%</strong> à terminer le mois <strong>à découvert</strong>. <br><br>
    Ces situations ne sont pas dues a une mauvaise gestion ou a des folies dépensières de la part de ces jeunes. La grande majorité étant quasi contrainte de rogner sur les dépenses les plus indispensables.<br>
    En effet, 83% d'entre eux déclare faire <q>très attention</q> au prix de la nourriture et près de <strong>46%</strong> n'ont <strong>pas accès à une alimentation équilibré</strong> à chaque repas. 13,5% d'entre eux ont même déjà renoncé à des soins medicaux faute de moyens, un chiffre en constante augmentation.  <br>
    De telles situations ont plusieurs justifications:
    <u1>
        <li>Le manque de soutien du milieu familial: 30% des étudiants ne recoivent aucune aide de la part de leur famille.</li>
        <li>Les coûts importants de la rentrée étudiante qui se sont élevé à 2285,26€ en 2019</li>
        <li>Les frais inhérent à des études comme les différentes factures et loyers qui peuvent grimper jusqu'à plus de 600€/mois dans les grandes villes.</li>
        <li>Le manque de connaissance des étudiants quant aux aides dont ils peuvent bénéficier.</li>
    </u1>

    <br>Ces différentes difficultés mènent à des situations parfois extrèmes, 1 étudiants sur 5 aurait déjà eu des pensées suicidaires et de malheureux exemple dans l'actualités nous rappelle à tous que laa précarité étudiante est un sujet majeur qui doit être traité.
</p>
      </div>



  <p>Quel est le % d'étudiants précaires ?</p>

<img id="EnigmeNombreDiz" src="{% static  'img/nos_img/nombre_0.gif'%}" width="100" height="180">
<img id="EnigmeNombre" src="{% static  'img/nos_img/nombre_0.gif'%}" width="100" height="180">

<p>
<button type="button" onclick="plus()">Plus</button>
<button type="button" onclick="moins()">Moins</button>
<button type="button" onclick="valider()">Valider</button>
</p>

<script type="text/javascript">

let unite=0;
let diz=0;

function lightdiz(diz) {
  var picdiz;
  if (diz == 0) {
    picdiz = "{% static  'img/nos_img/nombre_0.gif'%}";
  }
  else if (diz == 1){
  	picdiz = "{% static  'img/nos_img/nombre_1.gif'%}";
  }
  else if (diz == 2){
  	picdiz = "{% static  'img/nos_img/nombre_2.gif'%}";
  }
  else if (diz == 3){
  	picdiz = "{% static  'img/nos_img/nombre_3.gif'%}";
  }
  else if (diz == 4){
  	picdiz = "{% static  'img/nos_img/nombre_4.gif'%}";
  }
  else if (diz == 5){
  	picdiz = "{% static  'img/nos_img/nombre_5.gif'%}";
  }
  else if (diz == 6){
  	picdiz = "{% static  'img/nos_img/nombre_6.gif'%}";
  }
  else if (diz == 7){
  	picdiz = "{% static  'img/nos_img/nombre_7.gif'%}";
  }
  else if (diz == 8){
  	picdiz = "{% static  'img/nos_img/nombre_8.gif'%}";
  }
  else {
    picdiz = "{% static  'img/nos_img/nombre_9.gif'%}";
  }
  document.getElementById("EnigmeNombreDiz").src = picdiz;
}

function light(unite) {
  var pic;
  if (unite == 0) {
    pic = "{% static  'img/nos_img/nombre_0.gif'%}";
  }
  else if (unite == 1){
  	pic = "{% static  'img/nos_img/nombre_1.gif'%}";
  }
  else if (unite == 2){
  	pic = "{% static  'img/nos_img/nombre_2.gif'%}";
  }
  else if (unite == 3){
  	pic = "{% static  'img/nos_img/nombre_3.gif'%}";
  }
  else if (unite == 4){
  	pic ="{% static  'img/nos_img/nombre_4.gif'%}";
  }
  else if (unite == 5){
  	pic = "{% static  'img/nos_img/nombre_5.gif'%}";
  }
  else if (unite == 6){
  	pic = "{% static  'img/nos_img/nombre_6.gif'%}";
  }
  else if (unite == 7){
  	pic = "{% static  'img/nos_img/nombre_7.gif'%}";
  }
  else if (unite == 8){
  	pic = "{% static  'img/nos_img/nombre_8.gif'%}";
  }
  else {
    pic = "{% static  'img/nos_img/nombre_9.gif'%}";
  }
  document.getElementById("EnigmeNombre").src = pic;
}

function plus()
{
	if(unite==9 && diz<9){
		unite=0;
		diz=diz+1;
		lightdiz(diz);
		light(unite);
	}
	else if(unite<9){
		unite=unite+1;
		light(unite);
	}
}

function moins()
{
	if(unite==0 && diz>0){
		unite=9;
		diz=diz-1;
		lightdiz(diz);
		light(unite);
	}
	else if(unite>0){
		unite=unite-1;
		light(unite);
	}
}

function valider()
{
	if(unite==9 && diz==1)
	{
		alert("Vous avez réussi !");
	}
	else
	{
		alert("Réessayez !");
	}
}

</script>
      </div>
  </div>
</body>

</html>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{%  static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{%  static 'js/sb-admin-2.min.js' %}"></script>

  <!-- Page level plugins -->
  <script src="{%  static 'vendor/chart.js/Chart.min.js' %}"></script>

  <!-- Page level custom scripts -->
  <script src="{%  static 'js/demo/chart-area-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>
